aiofiles
aiogram==3.2.0
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
click
colorama
configs
dataclasses-json
distro
dnspython
docker
environs
fastapi
filelock
frozenlist
fsspec
greenlet
h11
httpcore
httpx
idna
Jinja2
jsonpatch
jsonpointer
langsmith
llvmlite
magic-filter
MarkupSafe
marshmallow
mongoengine
more-itertools
mpmath
multidict
mutagen
mypy-extensions
networkx
numba
numpy
openai
packaging
pycparser
pydantic
pydantic_core
pydub
pymongo
python-dotenv
PyYAML
redis
regex
requests
sniffio
srt
starlette
sympy
tenacity
typing-inspect
typing_extensions
urllib3
uvicorn
websockets
yarl
triton